/*******************************
	All Responsive Code
*******************************/
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.main-menu nav ul li {
	    margin-left: 35px;
	}
	
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.main-menu nav ul li {
    	margin-left: 28px;
	}
	.testimonial-area {
    	background-position: center center;
	}

}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.main-header-area {
    	padding: 15px 0;
	}
	.mean-container a.meanmenu-reveal {
	    top: 4px;
	}
	.slider-inner h1 {
	    font-size: 50px;
	}
	.slider-inner p {
	    margin: 25px 0 30px;
	}
	.feature-inner {
    	margin-top: 60px;
	}
	.single-feature {
    	border-bottom: 1px solid #6a74fc;
    	border-right: 0;
	}
	.feature-inner .col-xl-4:last-child .single-feature {
		border-bottom: 0;
	}
	.about-image img {
	    margin-top: 23px;
	}
	.subscribe-form form input {
   		width: 48%;
   		margin-bottom: 12px;
	}
	.subs-btn {
	    width: 46%;
	}
	.single-team {
	    margin-bottom: 30px;
	}
}

 
/* Extra small Device. */
@media (max-width: 767px) {
	.main-header-area {
    	padding: 15px 0;
	}
	.mean-container a.meanmenu-reveal {
	    top: -32px;
	}
	.slider-inner h1 {
	    font-size: 50px;
	}
	.slider-inner p {
	    margin: 25px 0 30px;
	}
	.feature-inner {
    	margin-top: 60px;
	}
	.single-feature {
    	border-bottom: 1px solid #6a74fc;
    	border-right: 0;
	}
	.feature-inner .col-xl-4:last-child .single-feature {
		border-bottom: 0;
	}
	.about-image img {
    	margin-left: -18px;
	}
	.subscribe-form form input {
   		width: 100%;
   		margin-bottom: 12px;
	}
	.subs-btn {
	    width: 100%;
	    margin: 0;
	}
	.pricing-item {
	    width: 100%;
	}
	.single-team {
	    margin-bottom: 30px;
	}
	.footer-widget {
    	overflow: hidden;
	}
	.footer-blog-thumb {
	    float: none;
	}
	.footer-news-content {
	    padding-left: 0;
	    margin-top: 10px;
	}
	.footer-menu {
    	text-align: center;
	}
	.copyright-text p {
	    text-align: center;
	    margin-bottom: 10px;
	}
	

}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.mean-container a.meanmenu-reveal {
	    top: 4px;
	}
}
